<div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
        <h1><a [routerLink]="['/']"><img width="80%" src="assets/images/logo.png" alt="logo-icon"> </a></h1>
    </div>



    <div class="logo-icon text-center">
        <a><img src="assets/images/logo_fav.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

        <!-- sidebar nav start -->
        <ul class="nav nav-pills nav-stacked custom-nav">
            <li *ngIf="role=='admin'" (mouseenter)="addHoverClass(reportLi)" (mouseleave)="removeHoverClass(reportLi)"
                #reportLi (click)="setActive(reportLi)" [class.active]="isActive(reportLi)">
                <a [routerLink]="['/admin/dashboard']"><i class="fa fa-tachometer"></i>
                    <span>Dashboard</span></a>
            </li>
            <li *ngIf="role=='admin'" class="active" (mouseenter)="addHoverClass(createUserLi)"
                (mouseleave)="removeHoverClass(createUserLi)" #createUserLi (click)="setActive(createUserLi)"
                [class.active]="isActive(createUserLi)">
                <a [routerLink]="['/admin/product']"><i class="fa fa-cubes"></i><span> Producrts </span></a>
            </li>
            <li *ngIf="role=='admin'" class="active" (mouseenter)="addHoverClass(createUserLi)"
                (mouseleave)="removeHoverClass(createUserLi)" #createUserLi (click)="setActive(createUserLi)"
                [class.active]="isActive(createUserLi)">
                <a [routerLink]="['/admin/cetagory']"><i class="fa fa-database"></i><span> category Master </span></a>
            </li>
            <li *ngIf="role=='admin'" class="active" (mouseenter)="addHoverClass(createUserLi)"
                (mouseleave)="removeHoverClass(createUserLi)" #createUserLi (click)="setActive(createUserLi)"
                [class.active]="isActive(createUserLi)">
                <a [routerLink]="['/admin/order']"><i class="fa fa-shopping-bag"></i><span> Orders </span></a>
            </li>
            <li *ngIf="role=='admin'" class="active" (mouseenter)="addHoverClass(createUserLi)"
                (mouseleave)="removeHoverClass(createUserLi)" #createUserLi (click)="setActive(createUserLi)"
                [class.active]="isActive(createUserLi)">
                <a [routerLink]="['/admin/testimonials']"><i class="fa fa-comment"></i><span> Testimonials
                    </span></a>
            </li>
            <li *ngIf="role=='admin'" class="active" (mouseenter)="addHoverClass(createUserLi)"
                (mouseleave)="removeHoverClass(createUserLi)" #createUserLi (click)="setActive(createUserLi)"
                [class.active]="isActive(createUserLi)">
                <a [routerLink]="['/admin/banner']"><i class="fa fa-object-ungroup"></i><span> Banner
                    </span></a>
            </li>
        </ul>
        <!-- //sidebar nav end -->
        <!-- toggle button start -->
        <a [className]="isMenuCollapsed" (click)="toggleMenu()" class="toggle-btn">
            <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
            <i class="fa fa-angle-double-right menu-collapsed__right"></i>
        </a>
        <!-- //toggle button end -->
    </div>
</div>