<div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
        <div class="navbar user-panel-top">

            <div class="user-dropdown-details d-flex">

                <div class="profile_details">
                    <ul>
                        <li *ngIf="loadingproduct">
                            <app-loading-product></app-loading-product>
                        </li>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="profile_img">
                                    <img src="assets/images/profile_logo.png" class="rounded-circle" alt="" />
                                    <div class="user-active">
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                <li class="user-info">
                                    <h5 class="user-name"> {{formUser.email}} </h5>
                                    <span class="status ml-2">Available</span>
                                </li>
                                <li> <a href="#"><i class="lnr lnr-user"></i>My Profile</a> </li>
                                <li class="logout"> <a [routerLink]="['/logout']"><i class="fa fa-power-off"></i>
                                        Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--notification menu end -->
</div>