<section>

    <!-- content -->
    <div class="error-bg">
        <!-- error -->
        <section class="error py-md-5 py-3">
            <div class="card-body">
                <div class="error-info">
                    <div class="error__404">404</div>
                    <div class="not__found">Page not found</div>
                    <p class="error-text my-3 mb-4">Oops! The page you are looking for does not exist. It might have
                        been moved or deleted.</p>
                    <a class="btn btn-style btn-primary" [routerLink]="['/']">Back to home</a>
                </div>
            </div>
        </section>
        <!-- //error -->
    </div>
    <!-- //content -->

</section>